<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Melanee">
         <property
               name="windowImages"
               value="img/melanee16.gif,img/melanee32.gif,img/melanee48.gif,img/melanee64.png,img/melanee128.png,img/melanee256.png">
         </property>
         <property
               name="aboutText"
               value="Melanee - Multi-level Modeling and DeepModel Engineering Environment&#x0A;&#x0A;Version: 2.1.0&#x0A;&#x0A;(c) Copyright University of Mannheim and others 2010 - 2015.  All rights reserved.&#x0A;Visit http://melanee.org&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/&#x0A;&#x0A;Thanks to:&#x0A;Ralph Gerbig, Nicole Wesemeyer, Katharina Markert, Daniel Gritzner, Colin Atkinson, Bastian Kennel">
         </property>
         <property
               name="aboutImage"
               value="img/melanee_lg.gif">
         </property>
         <property
               name="appName"
               value="Melanee">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,245,490,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,225,490,15">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
