<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.melanee.core.designation.service">
      <service
            class="org.melanee.core.proximityindication.service.ProximityIndicationService"
            id="org.melanee.core.proximityindication.service">
      </service>
   </extension>

</plugin>
