<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="core-4.5.target" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.tooling.runtime.feature.group" version="0.0.0"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ca.odell.glazedlists" version="0.0.0"/>
<unit id="org.antlr.runtime" version="4.3.0.v201502022030"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.mockito.source" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/epsilon/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nattable/releases/1.4.0/repository/"/>
</location>
</locations>
</target>
